<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
    <head>
        <meta charset="UTF-8">
        <title>URL Shortener</title>
        <style>
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                background-color: #f8f9fa;
            }
            .email {
                font-size: 14px;
                color: #333;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <h1>URL Shortener</h1>
            <div class="email">
                <span th:text="${email}"></span>
            </div>
        </div>
        <form th:action="@{/url}" method="post">
            <div th:insert="~{base :: csrf-token}"></div>
            Enter The URL
            <input type="text"
                   name="name"
                   title="Type in url"/>
            <input type="submit" name="Shorten URL"/>
            <p th:if="${shortName}" th:inline="text">
                Short url generated. 
                Please paste it into new browser window. 
                Link is configured to live for 1 minute. 
                Refresh browser after a minute to verify it gives an error. ->
                http://localhost:8080/url/<span th:text="${shortName}"></span></p>
        </form> 
        <div style="height: 100px;"></div>
        <div class="footer">
            <p><hr></p>
            <p th:inline="text">Logged in user <span th:remove="tag" sec:authentication="name">thymeleaf</span>.</p>
            <form th:action="@{/logout}" method="post">
                <div th:insert="~{base :: csrf-token}"></div>
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
    </body>
</html>